body {
    font-family: monospace;
    margin: 25px auto;
    width: 1280px;
}
header {
    color: OrangeRed;
    font-size: 2em;
    text-align: center;
}
footer {
    color: LightSteelBlue;
}
