label {
	height: 50px;
	text-align: center;
}
/* Target labels that have a radio input as child. */
label:has(input[type=radio]) {
	display: grid;
	flex-direction: row;
	align-items: center;
}
/* Change label background when the child element is checked. */
label:has(input[type=radio]:checked) {
	outline: 2px solid orange;
}
input[type=radio] {
	position:absolute;
	opacity: 0;
}
#map {
	font-size: 8pt;
}
.box2 {
	float: left;
	text-align: center;
	width: 48px;
}
.th {
	color: orange;
	font-weight: bold;
}
.box3 {
	float: left;
	width: 25px;
	text-align: center;
}
.box3 .tooltiptext {
	background-color: black;
	border-radius: 6px;
	border: solid orange 1px;
	color: #fff;
	font-size: 1.2em;
	padding: 5px 15px;
	position: absolute;
	text-align: center;
	visibility: hidden;
	z-index: 1;
}
.box3:hover .tooltiptext {
	visibility: visible;
}
.colors {
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
}
.colors div {
	margin: auto;
	width: 50px;
}
.color-stuff {
	float: left;
	width: 418px;
}
.elements {
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
}
.elements div {
	margin: auto;
}
.elements div label {
	height: 30px;
	padding: 2px 5px;
}
.glyphs {
	float: left;
	width: 448px;
}
.map-elements {
	float: left;
	width: 414px;
}
.opt {
}
.options::after {
	content: "";
	clear: both;
	display: block;
}
.bg {
	color: Silver;
}
.bg0 {
	background-color: Black;
}
.bg1 {
	background-color: Maroon;
}
.bg2 {
	background-color: Green;
}
.bg3 {
	background-color: Olive;
}
.bg4 {
	background-color: Navy;
}
.bg5 {
	background-color: Purple;
}
.bg6 {
	background-color: Teal;
}
.bg7 {
	background-color: Silver;
}
.bg8 {
	background-color: Gray;
}
.bg9 {
	background-color: Red;
}
.bg10 {
	background-color: Lime;
}
.bg11 {
	background-color: Yellow;
}
.bg12 {
	background-color: Blue;
}
.bg13 {
	background-color: Fuchsia;
}
.bg14 {
	background-color: Aqua;
}
.bg15 {
	background-color: White;
}
.fg {
	background-color: Black;
}
.fg0 {
	color: Black;
}
.fg1 {
	color: Maroon;
}
.fg2 {
	color: Green;
}
.fg3 {
	color: Olive;
}
.fg4 {
	color: Navy;
}
.fg5 {
	color: Purple;
}
.fg6 {
	color: Teal;
}
.fg7 {
	color: Silver;
}
.fg8 {
	color: Gray;
}
.fg9 {
	color: Red;
}
.fg10 {
	color: Lime;
}
.fg11 {
	color: Yellow;
}
.fg12 {
	color: Blue;
}
.fg13 {
	color: Fuchsia;
}
.fg14 {
	color: Aqua;
}
.fg15 {
	color: White;
}
