body {
  background: #fcfcfa;
  margin: 0 auto;
}

circle, rect {
  fill-opacity: 0.2;
  stroke: black;
  stroke-width: .5px;
  stroke-opacity: .5;
};

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
}

.country {
  fill: #bfc;
  stroke: #152;
  stroke-width: .5px;
}
