ellipse {
  fill: rgba(255, 0, 0, 0.05);
  /*stroke-width: ;*/
}
svg {
  border: 1px solid black;  
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
