---
layout: default
title: Map generator
colors:
  - 000
  - 800
  - 080
  - 880
  - 008
  - a0a
  - 055
  - aaa
  - 555
  - f00
  - 0f0
  - ff0
  - 00f
  - f0f
  - 0aa
  - fff
---

<h2>Generador de matrices de mapas</h2>
<div>
    <table>
        <tr>
            <td>Filas: </td><td><input type="number" id="rows" value="22"></td>
            <td>Columnas: </td><td><input type="number" id="cols" value="60"></td>
            <td><button id="nuevo">Nuevo!</button></td>
        </tr>
    </table>

    <table>
        <tr>
            <tr>
                <td>Código: </td>
                <td><input type="radio" name="code" value="0" checked>0</td>
                <td><input type="radio" name="code" value="1">1</td>
                <td><input type="radio" name="code" value="2">2</td>
                <td><input type="radio" name="code" value="3">3</td>
                <td><input type="radio" name="code" value="4">4</td>
                <td><input type="radio" name="code" value="5">5</td>
                <td><input type="radio" name="code" value="6">6</td>
                <td><input type="radio" name="code" value="7">7</td>
                <td><input type="radio" name="code" value="8">8</td>
                <td><input type="radio" name="code" value="9">9</td>
                <td><input type="radio" name="code" value="10">A</td>
                <td><input type="radio" name="code" value="11">B</td>
                <td><input type="radio" name="code" value="12">C</td>
                <td><input type="radio" name="code" value="13">D</td>
                <td><input type="radio" name="code" value="14">E</td>
                <td><input type="radio" name="code" value="15">F</td>
            </tr>
            <tr>
                <td>Códigos Ascii: </td>
                <td><input type="number" id="char0" value="0" readonly></td>
                <td><input type="number" id="char1" value="1"></td>
                <td><input type="number" id="char2" value="2"></td>
                <td><input type="number" id="char3" value="64"></td>
                <td><input type="number" id="char4" value="3"></td>
                <td><input type="number" id="char5" value="97"></td>
                <td><input type="number" id="char6" value="250"></td>
                <td><input type="number" id="char7" value="219"></td>
                <td><input type="number" id="char8" value="0"></td>
                <td><input type="number" id="char9" value="0"></td>
                <td><input type="number" id="char10" value="0"></td>
                <td><input type="number" id="char11" value="0"></td>
                <td><input type="number" id="char12" value="0"></td>
                <td><input type="number" id="char13" value="0"></td>
                <td><input type="number" id="char14" value="0"></td>
                <td><input type="number" id="char15" value="0"></td>
            </tr>
            <tr>
                <td>Nombre: </td>
                <td><input type="text" id="name0" value="vacio" readonly></td>
                <td><input type="text" id="name1" value="hero"></td>
                <td><input type="text" id="name2" value="enemy"></td>
                <td><input type="text" id="name3" value="coin"></td>
                <td><input type="text" id="name4" value="life"></td>
                <td><input type="text" id="name5" value="bomb"></td>
                <td><input type="text" id="name6" value="bullet"></td>
                <td><input type="text" id="name7" value="bloque"></td>
                <td><input type="text" id="name8" value=""></td>
                <td><input type="text" id="name9" value=""></td>
                <td><input type="text" id="name10" value=""></td>
                <td><input type="text" id="name11" value=""></td>
                <td><input type="text" id="name12" value=""></td>
                <td><input type="text" id="name13" value=""></td>
                <td><input type="text" id="name14" value=""></td>
                <td><input type="text" id="name15" value=""></td>
            </tr>
            <td>Background: </td>
            {% for i in (0..15) %}
                <td style="color: #{{ colors[i] }}"><input type="radio" name="bg" value="{{ i }}"{%- if i == 0 -%} checked{%- endif -%}>{{ i }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>Foreground: </td>
            {% for i in (0..15) %}
                <td style="color: #{{ colors[i] }}"><input type="radio" name="fg" value="{{ i }}"{%- if i == 7 -%} checked{%- endif -%}>{{ i }}</td>
            {% endfor %}
        </tr>
    </table>
</div>
<canvas id="cnvs" width="1280" height="768"></canvas>
<p>Descargue <a href="/dl/juego.h">juego.h</a></p>
<p>Copie el siguiente texto a un archivo de texto</p>
<textarea rows="25" cols="158" id="map"  wrap="off" readonly></textarea>
<p>Copie el siguiente texto a un archivo de cpp</p>
<textarea rows="50" cols="158" id="cpp"  wrap="off" readonly></textarea>

<script src="/js/generator.js"></script>
