<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Canaval" />
	<link rel="manifest" href="/favicon/site.webmanifest" />

	<link rel="stylesheet" href="/css/lmcs.css">
	{%- if page.custom_css -%}
	{%- for stylesheet in page.custom_css -%}
	<link rel="stylesheet" href="/css/{{ stylesheet }}.css">
	{%- endfor -%}
	{%- endif -%}
	<script>
		const o = [128058, 129440, 128126, 129302, 128125];
		console.info(`***
+---------------------------------------------------------------+
| Hello, I'm Luis Martín Canaval Sánchez from Huamachuco, Perú. |
| Find me at: {github.com,twitter.com,instagram.com}/lmcanavals |
+---------------------------------------------------------------+
Here, have some emojis: ${o.map(u => String.fromCodePoint(u)).join(' ')}`);
	</script>
	{% seo %}
</head>

<body>
	<header>
		<div class="container">
			<a id="a-title" href="/">
				<h1>There are things better left unseen</h1>
			</a>
		</div>
	</header>
	<div class="container">
		<section id="main_content">
			{{ content }}
		</section>
	</div>
	<footer>
		<div class="container">
			<p>Huamachuco, Perú</p>
		</div>
	</footer>
	{%- if site.google_analytics -%}
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
	</script>
	{%- endif -%}
</body>

</html>
